<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <img src="images/icons/logo.png" alt="Logo">
        </div>
        <nav class="header__menu">
            <div class="dropdown">
                <button class="dropdown-btn">Danh mục</button>
                <div class="dropdown-content">
                    <a href="#"><img src="images/icons/skincare.png" alt="Chăm sóc da"> Chăm sóc da</a>
                    <a href="#"><img src="images/icons/makeup.png" alt="Trang điểm"> Trang điểm</a>
                    <a href="#"><img src="images/icons/hair.png" alt="Chăm sóc tóc"> Chăm sóc tóc</a>
                    <a href="#"><img src="images/icons/body.png" alt="Chăm sóc cơ thể"> Chăm sóc cơ thể</a>
                    <div class="dropdown-divider"></div>
                    <a href="#"><img src="images/icons/luxury.png" alt="Thương hiệu cao cấp"> Thương hiệu cao cấp</a>
                    <a href="#"><img src="images/icons/korean.png" alt="Mỹ phẩm Hàn Quốc"> Mỹ phẩm Hàn Quốc</a>
                    <a href="#"><img src="images/icons/organic.png" alt="Mỹ phẩm thiên nhiên"> Mỹ phẩm thiên nhiên</a>
                    <div class="dropdown-divider"></div>
                    <a href="#"><img src="images/icons/mask.png" alt="Mặt nạ"> Mặt nạ dưỡng da</a>
                    <a href="#"><img src="images/icons/sunscreen.png" alt="Chống nắng"> Kem chống nắng</a>
                    <a href="#"><img src="images/icons/perfume.png" alt="Nước hoa"> Nước hoa</a>
                    <a href="#"><img src="images/icons/lipstick.png" alt="Son môi"> Son môi</a>
                    <a href="#"><img src="images/icons/tools.png" alt="Dụng cụ làm đẹp"> Dụng cụ làm đẹp</a>
                </div>
            </div>
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Khuyến mãi</a></li>
            </ul>
        </nav>
        <div class="header__search">
            <input type="text" placeholder="Tìm kiếm mỹ phẩm...">
            <button type="submit">Tìm kiếm</button>
        </div>
        <div class="header__cart">
            <a href="#" class="cart-icon">
                <img src="images/icons/cart.png" alt="Giỏ hàng">
                <span class="cart-count">0</span>
            </a>
        </div>
    </div>
</header>